<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <properties>
        <property name="tblBoard" value="test_board" />
        <property name="colBno" value="bno" />
        <property name="colTitle" value="title" />
        <property name="colContent" value="content" />
        <property name="colUserid" value="userid" />
        <property name="colRegdate" value="regdate" />
        <property name="colReplycnt" value="replycnt"/>
        
        <property name="tblMember" value="tbl_member"/>
        <property name="colUserid" value="userid"/>
        <property name="colPassword" value="password"/>
        <property name="colEmail" value="email"/>
    </properties>

    <typeAliases>
        <package name="edu.spring.ex04.domain" />
    </typeAliases>
</configuration>






