<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.practice.mapper.DepartmentMapper">

  <cache flushInterval="10000"/>
  
  <select id="findAll" resultType="Department">
      SELECT *, NOW() time FROM Department
  </select>
 
  <update id="update">
  	UPDATE Department
  	SET departmentName = #{departmentName}
  	WHERE id = #{id}
  </update>
</mapper>
