<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.skhu.mapper.PublisherMapper">

  <select id="findAll" resultType="Publisher">
      SELECT * FROM Publisher
  </select>
 
 <insert id="insert">
  	INSERT publisher (title) VALUE(#{publisherName})
  </insert>
  
  <update id="update">
  	UPDATE publisher SET title = #{publisherName} WHERE id=#{id}
  </update>
  
  <delete id="delete">
  	DELETE FROM category WHERE id=#{id}
  </delete>
</mapper>
